<%- include('../header.ejs') %>
    <div class="container mt-5 "><br><br><br>


        <table class="table table-bordered text-center mt-4">
            <tr>
                <th colspan="8">Course Dispaly</th>

            </tr>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>EMail</th>
                <th>Course</th>
                <th>Status</th>
                <th>Comment</th>
                <th></th>
                <th>Action</th>
            </tr>
            <% d.forEach((item)=>{ %>
                <tr>
                    <td>
                        <%= item._id %>
                    </td>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.email %>
                    </td>
                    <td>
                        <%= item.course %>
                    </td>
                    <td>
                        <%= item.status %>
                    </td>
                    <td>
                        <form action="/update_status/<%= item._id %>" method="post">
                            <textarea name="comment" class="form-control"></textarea>
                            <input type="hidden" name="name" value="<%= item.name %>">
                            <input type="hidden" name="email" value="<%= item.email %>">
                    </td>
                    <td>
                        <button type="submit" name="status" class="btn btn-success" value="Approved">Approved</button>
                        <button type="submit" name="status" class="btn btn-danger" value="Reject">Reject</button>
                        </form>
                    </td>
                    <td>
                        <a href="/courseView/<%= item._id %>" class="btn btn-primary">View</a>
                        <a href="/courseEdit/<%= item._id %>" class="btn btn-info">Edit</a>
                        <a href="/courseDelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% }) %>


        </table>
           

    </div>

    <%- include('../footer.ejs') %>