<%- include('../header.ejs') %> <br /><br /><br />
<h1>Course display page</h1>

<div class="container">
  <table class="table table-bordered text-center">
    <tr>
      <th colspan="7">course view</th>
    </tr>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>course</th>
      <th>status</th>
      <th>comment</th>
     
    </tr>
    
    <tr>
      <td><%= course._id %></td>
      <td><%= course.name %></td>
      <td><%= course.email %></td>
      <td><%= course.course %></td>
      <td><%= course.status %></td>
      <td><%= course.comment %></td>
      
    </tr>
    
  </table>
</div>
<%- include('../footer.ejs') %>
